footer {
  background-color: #efefef;
}

footer .footer-help {
  height: 340px;
}

footer .footer-help .help-about {
  padding: 37px 25px 0;
  height: 77px;
  border-bottom: 1px solid #dddddd;
}

footer .footer-help .help-about .lf {
  float: left;
}

footer .footer-help .help-about .lf .icon {
  float: left;
  margin-top: 7px;
}

footer .footer-help .help-about .lf .icon img {
  display: block;
  width: 55px;
  height: 37px;
}

footer .footer-help .help-about .lf .con {
  margin-left: 70px;
}

footer .footer-help .help-about .lf .con h1 {
  font-weight: 900;
  font-size: 18px;
  color: #333;
  line-height: 18px;
}

footer .footer-help .help-about .lf .con p {
  line-height: 14px;
  height: 14px;
  color: #999;
  margin-top: 10px;
}

footer .footer-help .help-about .rt {
  float: right;
}

footer .footer-help .help-about .rt .icon {
  float: left;
  margin-top: 7px;
}

footer .footer-help .help-about .rt .icon img {
  display: block;
  width: 45px;
  height: 38px;
}

footer .footer-help .help-about .rt .con {
  margin-left: 70px;
}

footer .footer-help .help-about .rt .con h1 {
  font-weight: 900;
  font-size: 18px;
  color: #333;
  line-height: 18px;
}

footer .footer-help .help-about .rt .con p {
  line-height: 14px;
  height: 14px;
  color: #999;
  margin-top: 10px;
}

footer .footer-help .help-about .center {
  width: 236px;
  float: left;
  margin-left: 310px;
}

footer .footer-help .help-about .center .icon {
  margin-top: 7px;
  float: left;
}

footer .footer-help .help-about .center .icon img {
  display: block;
  width: 46px;
  height: 41px;
}

footer .footer-help .help-about .center .con {
  margin-left: 70px;
}

footer .footer-help .help-about .center .con h1 {
  font-weight: 900;
  font-size: 18px;
  color: #333;
  line-height: 18px;
}

footer .footer-help .help-about .center .con p {
  line-height: 14px;
  height: 14px;
  color: #999;
  margin-top: 10px;
}

footer .footer-help .help-ways {
  margin-top: 20px;
  padding-left: 25px;
}

footer .footer-help .help-ways .help-server {
  width: 385px;
  padding-top: 4px;
  float: left;
}

footer .footer-help .help-ways .help-server .lf,
footer .footer-help .help-ways .help-server .center {
  float: left;
  margin-left: 40px;
}

footer .footer-help .help-ways .help-server .lf li,
footer .footer-help .help-ways .help-server .center li {
  line-height: 30px;
  height: 30px;
}

footer .footer-help .help-ways .help-server .lf li a,
footer .footer-help .help-ways .help-server .center li a {
  font-size: 12px;
  color: #999;
}

footer .footer-help .help-ways .help-server .lf .help-title,
footer .footer-help .help-ways .help-server .center .help-title {
  font-size: 16px;
  color: #333333;
  font-weight: 500;
  height: 16px;
  line-height: 16px;
  margin-bottom: 18px;
}

footer .footer-help .help-ways .help-server .rt {
  float: right;
}

footer .footer-help .help-ways .help-server .rt li {
  height: 30px;
  line-height: 30px;
}

footer .footer-help .help-ways .help-server .rt li a {
  font-size: 12px;
  color: #999;
}

footer .footer-help .help-ways .help-server .rt .help-title {
  font-size: 16px;
  color: #333333;
  font-weight: 500;
  height: 16px;
  line-height: 16px;
  margin-bottom: 18px;
}

footer .footer-help .help-ways .help-team {
  float: left;
  padding-top: 4px;
  width: 186px;
  margin-left: 48px;
}

footer .footer-help .help-ways .help-team .top .lf li,
footer .footer-help .help-ways .help-team .top .rt li {
  height: 30px;
  line-height: 30px;
}

footer .footer-help .help-ways .help-team .top .lf li a,
footer .footer-help .help-ways .help-team .top .rt li a {
  font-size: 12px;
  color: #999;
}

footer .footer-help .help-ways .help-team .top .lf .help-title,
footer .footer-help .help-ways .help-team .top .rt .help-title {
  font-size: 16px;
  color: #333;
  font-weight: 500;
  height: 16px;
  line-height: 16px;
  margin-bottom: 18px;
}

footer .footer-help .help-ways .help-team .top .rt {
  float: right;
}

footer .footer-help .help-ways .help-team .top .lf {
  float: left;
}

footer .footer-help .help-ways .help-team .bottom {
  margin-top: 14px;
  padding-top: 14px;
  border-top: 1px solid #cccccc;
}

footer .footer-help .help-ways .help-team .bottom p {
  float: right;
  line-height: 30px;
}

footer .footer-help .help-ways .help-team .bottom p a {
  font-size: 16px;
  color: #333333;
  line-height: 30px;
  font-weight: 500;
}

footer .footer-help .help-ways .help-tel {
  width: 208px;
  float: left;
  height: 147px;
  border-left: 1px solid #cccccc;
  padding-top: 4px;
  margin-left: 62px;
}

footer .footer-help .help-ways .help-tel p {
  margin-left: 35px;
  padding-left: 33px;
  height: 20px;
  line-height: 20px;
}

footer .footer-help .help-ways .help-tel p a {
  cursor: pointer;
  color: #f12020;
}

footer .footer-help .help-ways .help-tel .airlines {
  margin-top: 6px;
  background: url("../img/Customer-service_12.png") no-repeat left center;
}

footer .footer-help .help-ways .help-tel .feedback {
  margin-top: 13px;
  background: url("../img/feedback_17.png") no-repeat left center;
}

footer .footer-help .help-ways .help-tel h1 {
  font-size: 20px;
  font-weight: 500;
  color: #333333;
  text-align: center;
  line-height: 22px;
  margin-bottom: 15px;
}

footer .footer-help .help-ways .help-tel h1:nth-of-type(1) {
  margin-top: 26px;
}

footer .footer-help .help-ways .help-code {
  float: right;
  padding: 4px 22px 0;
  height: 147px;
  width: 240px;
  border-left: 1px solid #cccccc;
}

footer .footer-help .help-ways .help-code div:nth-of-type(1) {
  float: left;
}

footer .footer-help .help-ways .help-code div:nth-of-type(2) {
  float: right;
}

footer .footer-help .help-ways .help-code div img {
  width: 108px;
  height: 108px;
  display: block;
}

footer .footer-help .help-ways .help-code div p {
  color: #333333;
  line-height: 32px;
  text-align: center;
}

footer .foot-statement {
  height: 224px;
  background-color: #333;
}

footer .foot-statement .foot-logo {
  height: 36px;
  vertical-align: middle;
  margin-bottom: 19px;
  margin-top: 20px;
}

footer .foot-statement .foot-logo img {
  display: block;
  width: 227px;
  height: 36px;
  margin: 0 auto;
}

footer .foot-statement .foot-txt p {
  text-align: center;
  line-height: 24px;
  font-size: 12px;
  color: #999999;
}

footer .foot-statement .foot-note {
  display: flex;
  margin-top: 24px;
  justify-content: space-around;
}

footer .foot-statement .foot-note p {
  height: 32px;
  line-height: 32px;
  vertical-align: middle;
  font-size: 12px;
  color: #999999;
}

footer .foot-statement .foot-note p img {
  margin-right: 10px;
  border: 0;
  vertical-align: middle;
}

footer .foot-statement .foot-note p .w20 {
  width: 20px;
  height: 20px;
}
