@charset "UTF-8";
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
textarea,
p,
a,
span {
  margin: 0;
  padding: 0;
}

img {
  border: 0;
  vertical-align: middle;
}

ul,
li {
  list-style: none;
}

button,
input,
textarea {
  outline: none;
  border: none;
}

textarea {
  resize: none;
}

body {
  font-family: "Microsoft YaHei", "微软雅黑", "Arial", sans-serif;
  color: #666;
  background: #f9f9f9;
  min-width: 1345px;
  font-size: 14px;
}

a {
  text-decoration: none;
}

a:hover {
  color: #f12020;
}

.clearfix {
  *zoom: 1;
}

.wrapper {
  width: 1226px;
  margin: 0 auto;
}

.clear::after {
  content: "";
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
em,
b,
i {
  font-weight: normal;
  font-style: normal;
}

/* 针对IE7 hack，触发IE7的haslayout，以清除浮动 */
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}

.clearfix:after {
  clear: both;
}

header .top_nav {
  height: 35px;
  width: 100%;
  background-color: #333333;
}

header .top_nav .left {
  float: left;
  height: 35px;
}

header .top_nav .left ul li:nth-of-type(1) {
  background-color: #555555;
}

header .top_nav .left li {
  float: left;
}

header .top_nav .left li a {
  display: block;
  height: 35px;
  width: 145px;
  text-align: center;
  color: #fff;
  font-size: 13px;
  line-height: 35px;
}

header .top_nav .left li a:hover {
  background-color: #555555;
}

header .top_nav .right {
  float: right;
}

header .top_nav .right .login_div {
  float: left;
  height: 35px;
  line-height: 35px;
}

header .top_nav .right .login_div a {
  font-size: 12px;
  color: #fff;
}

header .top_nav .right .login_div a:hover {
  color: #f12020;
}

header .top_nav .right .login_div span {
  font-size: 12px;
  color: #fff;
  margin: 0 12px;
}

header .top_nav .right .mytool {
  float: left;
  margin-left: 12px;
  width: 460px;
}

header .top_nav .right .mytool > div:hover {
  background-color: #555555;
}

header .top_nav .right .mytool .my_changhong {
  width: 120px;
  float: left;
  height: 35px;
  position: relative;
}

header .top_nav .right .mytool .my_changhong:hover .info {
  display: block;
}

header .top_nav .right .mytool .my_changhong > p a {
  display: block;
  height: 18px;
  line-height: 18px;
  color: #fff;
  padding-left: 25px;
  font-size: 12px;
  margin-top: 9px;
  background: url("../img/home-toolbar-login_03.png") no-repeat left center;
  margin-left: 22px;
}

header .top_nav .right .mytool .my_changhong .info {
  display: none;
  position: absolute;
  left: 0;
  top: 35px;
  z-index: 999;
  width: 230px;
  height: 225px;
  background-color: #fff;
  box-shadow: 0 0 2px 0 #e1e0e0;
}

header .top_nav .right .mytool .my_changhong .info .info_name {
  padding-top: 18px;
  padding-left: 25px;
  overflow: hidden;
}

header .top_nav .right .mytool .my_changhong .info .info_name img {
  display: block;
  float: left;
}

header .top_nav .right .mytool .my_changhong .info .info_name > p:nth-of-type(1) {
  line-height: 16px;
  height: 16px;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 12px;
  margin-left: 74px;
}

header .top_nav .right .mytool .my_changhong .info .info_name > p:nth-of-type(2) {
  margin-left: 77px;
  line-height: 13px;
  height: 13px;
  font-size: 13px;
}

header .top_nav .right .mytool .my_changhong .info .info_other {
  height: auto;
  overflow: hidden;
  padding: 0px 16px 0px 25px;
  line-height: 30px;
  float: left;
  margin-top: 5px;
}

header .top_nav .right .mytool .my_changhong .info .info_other a {
  font-size: 13px;
  color: #666666;
}

header .top_nav .right .mytool .my_changhong .info .info_other a:hover {
  color: #f12020;
}

header .top_nav .right .mytool .my_changhong .info .info_other span {
  font-size: 12px;
  color: #cfcfcf;
  margin: 0 29px;
}

header .top_nav .right .mytool .tool_cont {
  width: 120px;
  float: left;
  height: 35px;
  position: relative;
}

header .top_nav .right .mytool .tool_cont:hover img {
  display: block;
}

header .top_nav .right .mytool .tool_cont div a {
  display: block;
  height: 18px;
  line-height: 18px;
  color: #ffff;
  padding-left: 25px;
  font-size: 12px;
  margin-top: 9px;
  background: url("../img/home-toolbar-news_05.png") no-repeat left center;
  margin-right: 22px;
  margin-left: 16px;
}

header .top_nav .right .mytool .tool_cont img {
  display: none;
  z-index: 999;
  position: absolute;
  left: 0;
  border: 0;
  vertical-align: middle;
  top: 35px;
}

header .top_nav .right .mytool .shopping_car {
  width: 120px;
  float: left;
  height: 35px;
  position: relative;
}

header .top_nav .right .mytool .shopping_car:hover div {
  display: block;
}

header .top_nav .right .mytool .shopping_car p a {
  display: block;
  height: 18px;
  line-height: 18px;
  color: #fff;
  padding-left: 25px;
  font-size: 12px;
  margin-top: 9px;
  background: url("../img/home-toolbar-shoppingcar_03.png") no-repeat left center;
  margin-left: 15px;
  margin-right: 8px;
}

header .top_nav .right .mytool .shopping_car div {
  position: absolute;
  display: none;
  width: 315px;
  top: 35px;
  right: 0;
  background-color: #fff;
  z-index: 999;
  box-shadow: 0px 0px 2px 0px #e1e0e0;
}

header .top_nav .right .mytool .shopping_car div h1 {
  padding: 15px 0;
  line-height: 30px;
  color: #666666;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
}

header .header_nav {
  background-color: #fff;
  z-index: 500;
  height: 78px;
}

header .header_nav .wrapper .header_logo {
  float: left;
  height: 78px;
}

header .header_nav .wrapper .header_logo img {
  display: block;
}

header .header_nav .wrapper .header_main {
  float: left;
  margin-left: 40px;
}

header .header_nav .wrapper .header_main .no1 a {
  color: #f12020;
}

header .header_nav .wrapper .header_main ul li {
  float: left;
  width: 90px;
}

header .header_nav .wrapper .header_main ul li:hover a {
  color: #f12020;
}

header .header_nav .wrapper .header_main ul li a {
  display: block;
  height: 78px;
  line-height: 78px;
  text-align: center;
  font-size: 16px;
  color: #000;
}

header .header_nav .wrapper .header_search {
  float: right;
  height: 38px;
  width: 200px;
  border: 1px solid #e3e3e3;
  margin-top: 17px;
  overflow: hidden;
}

header .header_nav .wrapper .header_search .search_key {
  padding-left: 10px;
  height: 38px;
  line-height: 38px;
  color: #a9a9a9;
  float: left;
  width: 155px;
}

header .header_nav .wrapper .header_search .search_button {
  float: left;
  width: 35px;
  height: 38px;
  background: url("../img/home-serach-btn_05.png") no-repeat left center;
  cursor: pointer;
}

footer {
  background-color: #efefef;
}

footer .footer-help {
  height: 340px;
}

footer .footer-help .help-about {
  padding: 37px 25px 0;
  height: 77px;
  border-bottom: 1px solid #dddddd;
}

footer .footer-help .help-about .lf {
  float: left;
}

footer .footer-help .help-about .lf .icon {
  float: left;
  margin-top: 7px;
}

footer .footer-help .help-about .lf .icon img {
  display: block;
  width: 55px;
  height: 37px;
}

footer .footer-help .help-about .lf .con {
  margin-left: 70px;
}

footer .footer-help .help-about .lf .con h1 {
  font-weight: 900;
  font-size: 18px;
  color: #333;
  line-height: 18px;
}

footer .footer-help .help-about .lf .con p {
  line-height: 14px;
  height: 14px;
  color: #999;
  margin-top: 10px;
}

footer .footer-help .help-about .rt {
  float: right;
}

footer .footer-help .help-about .rt .icon {
  float: left;
  margin-top: 7px;
}

footer .footer-help .help-about .rt .icon img {
  display: block;
  width: 45px;
  height: 38px;
}

footer .footer-help .help-about .rt .con {
  margin-left: 70px;
}

footer .footer-help .help-about .rt .con h1 {
  font-weight: 900;
  font-size: 18px;
  color: #333;
  line-height: 18px;
}

footer .footer-help .help-about .rt .con p {
  line-height: 14px;
  height: 14px;
  color: #999;
  margin-top: 10px;
}

footer .footer-help .help-about .center {
  width: 236px;
  float: left;
  margin-left: 310px;
}

footer .footer-help .help-about .center .icon {
  margin-top: 7px;
  float: left;
}

footer .footer-help .help-about .center .icon img {
  display: block;
  width: 46px;
  height: 41px;
}

footer .footer-help .help-about .center .con {
  margin-left: 70px;
}

footer .footer-help .help-about .center .con h1 {
  font-weight: 900;
  font-size: 18px;
  color: #333;
  line-height: 18px;
}

footer .footer-help .help-about .center .con p {
  line-height: 14px;
  height: 14px;
  color: #999;
  margin-top: 10px;
}

footer .footer-help .help-ways {
  margin-top: 20px;
  padding-left: 25px;
}

footer .footer-help .help-ways .help-server {
  width: 385px;
  padding-top: 4px;
  float: left;
}

footer .footer-help .help-ways .help-server .lf,
footer .footer-help .help-ways .help-server .center {
  float: left;
  margin-left: 40px;
}

footer .footer-help .help-ways .help-server .lf li,
footer .footer-help .help-ways .help-server .center li {
  line-height: 30px;
  height: 30px;
}

footer .footer-help .help-ways .help-server .lf li a,
footer .footer-help .help-ways .help-server .center li a {
  font-size: 12px;
  color: #999;
}

footer .footer-help .help-ways .help-server .lf .help-title,
footer .footer-help .help-ways .help-server .center .help-title {
  font-size: 16px;
  color: #333333;
  font-weight: 500;
  height: 16px;
  line-height: 16px;
  margin-bottom: 18px;
}

footer .footer-help .help-ways .help-server .rt {
  float: right;
}

footer .footer-help .help-ways .help-server .rt li {
  height: 30px;
  line-height: 30px;
}

footer .footer-help .help-ways .help-server .rt li a {
  font-size: 12px;
  color: #999;
}

footer .footer-help .help-ways .help-server .rt .help-title {
  font-size: 16px;
  color: #333333;
  font-weight: 500;
  height: 16px;
  line-height: 16px;
  margin-bottom: 18px;
}

footer .footer-help .help-ways .help-team {
  float: left;
  padding-top: 4px;
  width: 186px;
  margin-left: 48px;
}

footer .footer-help .help-ways .help-team .top .lf li,
footer .footer-help .help-ways .help-team .top .rt li {
  height: 30px;
  line-height: 30px;
}

footer .footer-help .help-ways .help-team .top .lf li a,
footer .footer-help .help-ways .help-team .top .rt li a {
  font-size: 12px;
  color: #999;
}

footer .footer-help .help-ways .help-team .top .lf .help-title,
footer .footer-help .help-ways .help-team .top .rt .help-title {
  font-size: 16px;
  color: #333;
  font-weight: 500;
  height: 16px;
  line-height: 16px;
  margin-bottom: 18px;
}

footer .footer-help .help-ways .help-team .top .rt {
  float: right;
}

footer .footer-help .help-ways .help-team .top .lf {
  float: left;
}

footer .footer-help .help-ways .help-team .bottom {
  margin-top: 14px;
  padding-top: 14px;
  border-top: 1px solid #cccccc;
}

footer .footer-help .help-ways .help-team .bottom p {
  float: right;
  line-height: 30px;
}

footer .footer-help .help-ways .help-team .bottom p a {
  font-size: 16px;
  color: #333333;
  line-height: 30px;
  font-weight: 500;
}

footer .footer-help .help-ways .help-tel {
  width: 208px;
  float: left;
  height: 147px;
  border-left: 1px solid #cccccc;
  padding-top: 4px;
  margin-left: 62px;
}

footer .footer-help .help-ways .help-tel p {
  margin-left: 35px;
  padding-left: 33px;
  height: 20px;
  line-height: 20px;
}

footer .footer-help .help-ways .help-tel p a {
  cursor: pointer;
  color: #f12020;
}

footer .footer-help .help-ways .help-tel .airlines {
  margin-top: 6px;
  background: url("../img/Customer-service_12.png") no-repeat left center;
}

footer .footer-help .help-ways .help-tel .feedback {
  margin-top: 13px;
  background: url("../img/feedback_17.png") no-repeat left center;
}

footer .footer-help .help-ways .help-tel h1 {
  font-size: 20px;
  font-weight: 500;
  color: #333333;
  text-align: center;
  line-height: 22px;
  margin-bottom: 15px;
}

footer .footer-help .help-ways .help-tel h1:nth-of-type(1) {
  margin-top: 26px;
}

footer .footer-help .help-ways .help-code {
  float: right;
  padding: 4px 22px 0;
  height: 147px;
  width: 240px;
  border-left: 1px solid #cccccc;
}

footer .footer-help .help-ways .help-code div:nth-of-type(1) {
  float: left;
}

footer .footer-help .help-ways .help-code div:nth-of-type(2) {
  float: right;
}

footer .footer-help .help-ways .help-code div img {
  width: 108px;
  height: 108px;
  display: block;
}

footer .footer-help .help-ways .help-code div p {
  color: #333333;
  line-height: 32px;
  text-align: center;
}

footer .foot-statement {
  height: 224px;
  background-color: #333;
}

footer .foot-statement .foot-logo {
  height: 36px;
  vertical-align: middle;
  margin-bottom: 19px;
  margin-top: 20px;
}

footer .foot-statement .foot-logo img {
  display: block;
  width: 227px;
  height: 36px;
  margin: 0 auto;
}

footer .foot-statement .foot-txt p {
  text-align: center;
  line-height: 24px;
  font-size: 12px;
  color: #999999;
}

footer .foot-statement .foot-note {
  display: flex;
  margin-top: 24px;
  justify-content: space-around;
}

footer .foot-statement .foot-note p {
  height: 32px;
  line-height: 32px;
  vertical-align: middle;
  font-size: 12px;
  color: #999999;
}

footer .foot-statement .foot-note p img {
  margin-right: 10px;
  border: 0;
  vertical-align: middle;
}

footer .foot-statement .foot-note p .w20 {
  width: 20px;
  height: 20px;
}

.pro-position {
  height: 47px;
  background-color: #f3f3f3;
  border-bottom: 1px solid #d7d7d7;
}

.pro-position p {
  line-height: 47px;
  color: #000;
  font-size: 14px;
  margin-left: 9px;
}

.pro-position p a {
  line-height: 47px;
  font-size: 14px;
  color: #000;
}

.pro-search-results {
  width: 1150px;
  padding: 0 38px;
  margin: 5px auto;
  overflow: hidden;
}

.pro-search-results p {
  text-align: right;
  float: left;
  height: 30px;
  line-height: 30px;
}

.pro-selector-container {
  padding: 0 38px;
  background-color: #ffffff;
  border: 1px solid #e8e8e8;
  position: relative;
  margin-bottom: 60px;
}

.pro-selector-container .pro-selector-row {
  height: 100%;
  padding: 0 2px;
  min-height: 58px;
}

.pro-selector-container .pro-selector-row .pro-selector-left {
  float: left;
  width: 168px;
}

.pro-selector-container .pro-selector-row .pro-selector-left .pro-selector-label {
  width: 85px;
  height: 58px;
  line-height: 58px;
  color: #505050;
  float: left;
}

.pro-selector-container .pro-selector-row .pro-selector-left .pro-selector-all {
  display: block;
  margin-top: 14px;
  margin-bottom: 14px;
  height: 28px;
  line-height: 28px;
  width: 76px;
  color: #f12020;
  border: 1px solid #f12020;
  margin-left: 85px;
  text-align: center;
}

.pro-selector-container .pro-selector-row .pro-selector {
  margin-left: 168px;
  padding-left: 2px;
}

.pro-selector-container .pro-selector-row .pro-selector a {
  padding: 0 20px;
  color: #000000;
  display: block;
  height: 28px;
  line-height: 28px;
  margin-top: 14px;
  float: left;
  border: 1px solid #ffffff;
}

.pro-selector-container .pro-selector-row .pro-selector a:hover {
  border: 1px solid #f12020;
  color: #f12020;
}

main .pro-re-warp {
  width: 200px;
  float: left;
}

main .pro-re-warp p {
  height: 48px;
  text-align: center;
  line-height: 48px;
  font-size: 16px;
  color: #333333;
  background: #f1f1f1;
}

main .list {
  margin-left: 210px;
}

main .list .product {
  padding-bottom: 15px;
  overflow: hidden;
}

.list .product li {
  height: 360px;
  width: 240px;
  float: left;
  background-color: #fff;
  margin-left: 14px;
  margin-top: 14px;
}

.list .product li:hover {
  box-shadow: 0px 0px 5px 3px #e9e9e9;
}

.list .product li a {
  display: block;
  width: 190px;
  height: 190px;
  margin: 15px auto 15px auto;
  line-height: 190px;
}

.list .product li .product-pic img {
  height: 190px;
  width: 190px;
  border: 0;
  vertical-align: center;
}

.list .product li .title {
  padding: 0 25px;
  color: #000;
  line-height: 22px;
  height: 22px;
  overflow: hidden;
}

.list .product li span {
  padding-left: 25px;
  display: inline-block;
  color: #f12020;
  font-size: 16px;
  line-height: 18px;
  margin-top: 14px;
  height: 20px;
  overflow: hidden;
}

.list .product li .price {
  padding-left: 0;
  padding-right: 25px;
}

.list .product .goods-choose {
  width: 213px;
  height: 30px;
  border: 1px solid #ebebeb;
  margin: 40px auto 0px auto;
  border-right: none;
}

.list .product .goods-choose .db {
  border-right: 1px solid #ebebeb;
  width: 58px;
  float: left;
}

.list .product .goods-choose .db div {
  float: left;
  width: 14px;
  height: 14px;
  margin: 8px 3px 0 5px;
  background: url("../img/pro-goods-db-icon_03.jpg") no-repeat;
}

.list .product .goods-choose .db div input {
  height: 14px;
  width: 14px;
  opacity: 0;
  zoom: 1;
  display: block;
  float: left;
  cursor: pointer;
}

.list .product .goods-choose .db p {
  height: 30px;
  margin-left: 24px;
  color: #000;
  line-height: 30px;
  font-size: 12px;
}

.list .product .goods-choose .shoucang {
  width: 64px;
  float: left;
}

.list .product .goods-choose .shoucang p {
  padding-left: 21px;
  background: url("../img/pro-goods-starts-icon_11.jpg") no-repeat 5px 9px;
  text-align: center;
  cursor: pointer;
  font-size: 12px;
  line-height: 30px;
  color: #000;
}

.list .product .goods-choose .car {
  width: 88px;
  border: 1px solid #ebebeb;
  height: 30px;
  float: left;
  margin-top: -1px;
}

.list .product .goods-choose .car p {
  padding-left: 24px;
  font-size: 12px;
  color: #f12020;
  line-height: 31px;
  background: url("../img/pro-goods-cars-icon_13.jpg") no-repeat 3px center;
  cursor: pointer;
}

main .list .choose {
  margin-left: 15px;
  background-color: #efefef;
  overflow: hidden;
  border: 1px solid #e6e6e6;
}

main .choose ul {
  overflow: hidden;
  float: left;
}

main .choose li {
  cursor: pointer;
  width: 83px;
  height: 45px;
  background-color: #efefef;
  text-align: center;
  line-height: 45px;
  float: left;
  border: 1px solid #e6e6e6;
  position: relative;
  color: #000;
}

main .choose li:hover {
  color: #ed2e34;
}

main .choose .sale {
  width: 109px;
  background-color: #fff;
  color: #ed2e34;
}

main .choose .hasproduct {
  float: left;
  background: url("../img/pro-result-store_06 .png") no-repeat left center;
  margin-left: 10px;
}

main .hasproduct input {
  float: left;
  width: 16px;
  height: 16px;
  margin-top: 15px;
  cursor: pointer;
  outline: 0;
}

main .hasproduct p {
  margin-left: 24px;
  color: #595959;
  line-height: 45px;
}

main .hasproduct p:hover {
  color: #ed2e34;
}

main .choose .product-search {
  margin-top: 7px;
  float: right;
  margin-right: 18px;
}

main .product-search input {
  width: 207px;
  padding-left: 10px;
  color: #a9a9a9;
  line-height: 33px;
  float: left;
  height: 33px;
  display: block;
}

main .product-search button {
  width: 31px;
  cursor: pointer;
  background: url("../img/pro-result-btn-icon_04.png") no-repeat left center;
  display: block;
  float: left;
  height: 33px;
}

main .main_page {
  margin-left: 15px;
  height: 58px;
  border: 1px solid #eeeeee;
  background-color: #fff;
}
