@charset "UTF-8";
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
textarea,
p,
a,
span {
  margin: 0;
  padding: 0;
}

img {
  border: 0;
  vertical-align: middle;
}

ul,
li {
  list-style: none;
}

button,
input,
textarea {
  outline: none;
  border: none;
}

textarea {
  resize: none;
}

body {
  font-family: "Microsoft YaHei", "微软雅黑", "Arial", sans-serif;
  color: #666;
  background: #f9f9f9;
  min-width: 1345px;
  font-size: 14px;
}

a {
  text-decoration: none;
}

a:hover {
  color: #f12020;
}

.clearfix {
  *zoom: 1;
}

.wrapper {
  width: 1226px;
  margin: 0 auto;
}

.clear::after {
  content: "";
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
em,
b,
i {
  font-weight: normal;
  font-style: normal;
}

/* 针对IE7 hack，触发IE7的haslayout，以清除浮动 */
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}

.clearfix:after {
  clear: both;
}

header .top_nav {
  height: 35px;
  width: 100%;
  background-color: #333333;
}

header .top_nav .left {
  float: left;
  height: 35px;
}

header .top_nav .left ul li:nth-of-type(1) {
  background-color: #555555;
}

header .top_nav .left li {
  float: left;
}

header .top_nav .left li a {
  display: block;
  height: 35px;
  width: 145px;
  text-align: center;
  color: #fff;
  font-size: 13px;
  line-height: 35px;
}

header .top_nav .left li a:hover {
  background-color: #555555;
}

header .top_nav .right {
  float: right;
}

header .top_nav .right .login_div {
  float: left;
  height: 35px;
  line-height: 35px;
}

header .top_nav .right .login_div a {
  font-size: 12px;
  color: #fff;
}

header .top_nav .right .login_div a:hover {
  color: #f12020;
}

header .top_nav .right .login_div span {
  font-size: 12px;
  color: #fff;
  margin: 0 12px;
}

header .top_nav .right .mytool {
  float: left;
  margin-left: 12px;
  width: 460px;
}

header .top_nav .right .mytool > div:hover {
  background-color: #555555;
}

header .top_nav .right .mytool .my_changhong {
  width: 120px;
  float: left;
  height: 35px;
  position: relative;
}

header .top_nav .right .mytool .my_changhong:hover .info {
  display: block;
}

header .top_nav .right .mytool .my_changhong > p a {
  display: block;
  height: 18px;
  line-height: 18px;
  color: #fff;
  padding-left: 25px;
  font-size: 12px;
  margin-top: 9px;
  background: url("../img/home-toolbar-login_03.png") no-repeat left center;
  margin-left: 22px;
}

header .top_nav .right .mytool .my_changhong .info {
  display: none;
  position: absolute;
  left: 0;
  top: 35px;
  z-index: 999;
  width: 230px;
  height: 225px;
  background-color: #fff;
  box-shadow: 0 0 2px 0 #e1e0e0;
}

header .top_nav .right .mytool .my_changhong .info .info_name {
  padding-top: 18px;
  padding-left: 25px;
  overflow: hidden;
}

header .top_nav .right .mytool .my_changhong .info .info_name img {
  display: block;
  float: left;
}

header .top_nav .right .mytool .my_changhong .info .info_name > p:nth-of-type(1) {
  line-height: 16px;
  height: 16px;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 12px;
  margin-left: 74px;
}

header .top_nav .right .mytool .my_changhong .info .info_name > p:nth-of-type(2) {
  margin-left: 77px;
  line-height: 13px;
  height: 13px;
  font-size: 13px;
}

header .top_nav .right .mytool .my_changhong .info .info_other {
  height: auto;
  overflow: hidden;
  padding: 0px 16px 0px 25px;
  line-height: 30px;
  float: left;
  margin-top: 5px;
}

header .top_nav .right .mytool .my_changhong .info .info_other a {
  font-size: 13px;
  color: #666666;
}

header .top_nav .right .mytool .my_changhong .info .info_other a:hover {
  color: #f12020;
}

header .top_nav .right .mytool .my_changhong .info .info_other span {
  font-size: 12px;
  color: #cfcfcf;
  margin: 0 29px;
}

header .top_nav .right .mytool .tool_cont {
  width: 120px;
  float: left;
  height: 35px;
  position: relative;
}

header .top_nav .right .mytool .tool_cont:hover img {
  display: block;
}

header .top_nav .right .mytool .tool_cont div a {
  display: block;
  height: 18px;
  line-height: 18px;
  color: #ffff;
  padding-left: 25px;
  font-size: 12px;
  margin-top: 9px;
  background: url("../img/home-toolbar-news_05.png") no-repeat left center;
  margin-right: 22px;
  margin-left: 16px;
}

header .top_nav .right .mytool .tool_cont img {
  display: none;
  z-index: 999;
  position: absolute;
  left: 0;
  border: 0;
  vertical-align: middle;
  top: 35px;
}

header .top_nav .right .mytool .shopping_car {
  width: 120px;
  float: left;
  height: 35px;
  position: relative;
}

header .top_nav .right .mytool .shopping_car:hover div {
  display: block;
}

header .top_nav .right .mytool .shopping_car p a {
  display: block;
  height: 18px;
  line-height: 18px;
  color: #fff;
  padding-left: 25px;
  font-size: 12px;
  margin-top: 9px;
  background: url("../img/home-toolbar-shoppingcar_03.png") no-repeat left center;
  margin-left: 15px;
  margin-right: 8px;
}

header .top_nav .right .mytool .shopping_car div {
  position: absolute;
  display: none;
  width: 315px;
  top: 35px;
  right: 0;
  background-color: #fff;
  z-index: 999;
  box-shadow: 0px 0px 2px 0px #e1e0e0;
}

header .top_nav .right .mytool .shopping_car div h1 {
  padding: 15px 0;
  line-height: 30px;
  color: #666666;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
}

header .header_nav {
  background-color: #fff;
  z-index: 500;
  height: 78px;
}

header .header_nav .wrapper .header_logo {
  float: left;
  height: 78px;
}

header .header_nav .wrapper .header_logo img {
  display: block;
}

header .header_nav .wrapper .header_main {
  float: left;
  margin-left: 40px;
}

header .header_nav .wrapper .header_main .no1 a {
  color: #f12020;
}

header .header_nav .wrapper .header_main ul li {
  float: left;
  width: 90px;
}

header .header_nav .wrapper .header_main ul li:hover a {
  color: #f12020;
}

header .header_nav .wrapper .header_main ul li a {
  display: block;
  height: 78px;
  line-height: 78px;
  text-align: center;
  font-size: 16px;
  color: #000;
}

header .header_nav .wrapper .header_search {
  float: right;
  height: 38px;
  width: 200px;
  border: 1px solid #e3e3e3;
  margin-top: 17px;
  overflow: hidden;
}

header .header_nav .wrapper .header_search .search_key {
  padding-left: 10px;
  height: 38px;
  line-height: 38px;
  color: #a9a9a9;
  float: left;
  width: 155px;
}

header .header_nav .wrapper .header_search .search_button {
  float: left;
  width: 35px;
  height: 38px;
  background: url("../img/home-serach-btn_05.png") no-repeat left center;
  cursor: pointer;
}

footer {
  background-color: #efefef;
}

footer .footer-help {
  height: 340px;
}

footer .footer-help .help-about {
  padding: 37px 25px 0;
  height: 77px;
  border-bottom: 1px solid #dddddd;
}

footer .footer-help .help-about .lf {
  float: left;
}

footer .footer-help .help-about .lf .icon {
  float: left;
  margin-top: 7px;
}

footer .footer-help .help-about .lf .icon img {
  display: block;
  width: 55px;
  height: 37px;
}

footer .footer-help .help-about .lf .con {
  margin-left: 70px;
}

footer .footer-help .help-about .lf .con h1 {
  font-weight: 900;
  font-size: 18px;
  color: #333;
  line-height: 18px;
}

footer .footer-help .help-about .lf .con p {
  line-height: 14px;
  height: 14px;
  color: #999;
  margin-top: 10px;
}

footer .footer-help .help-about .rt {
  float: right;
}

footer .footer-help .help-about .rt .icon {
  float: left;
  margin-top: 7px;
}

footer .footer-help .help-about .rt .icon img {
  display: block;
  width: 45px;
  height: 38px;
}

footer .footer-help .help-about .rt .con {
  margin-left: 70px;
}

footer .footer-help .help-about .rt .con h1 {
  font-weight: 900;
  font-size: 18px;
  color: #333;
  line-height: 18px;
}

footer .footer-help .help-about .rt .con p {
  line-height: 14px;
  height: 14px;
  color: #999;
  margin-top: 10px;
}

footer .footer-help .help-about .center {
  width: 236px;
  float: left;
  margin-left: 310px;
}

footer .footer-help .help-about .center .icon {
  margin-top: 7px;
  float: left;
}

footer .footer-help .help-about .center .icon img {
  display: block;
  width: 46px;
  height: 41px;
}

footer .footer-help .help-about .center .con {
  margin-left: 70px;
}

footer .footer-help .help-about .center .con h1 {
  font-weight: 900;
  font-size: 18px;
  color: #333;
  line-height: 18px;
}

footer .footer-help .help-about .center .con p {
  line-height: 14px;
  height: 14px;
  color: #999;
  margin-top: 10px;
}

footer .footer-help .help-ways {
  margin-top: 20px;
  padding-left: 25px;
}

footer .footer-help .help-ways .help-server {
  width: 385px;
  padding-top: 4px;
  float: left;
}

footer .footer-help .help-ways .help-server .lf,
footer .footer-help .help-ways .help-server .center {
  float: left;
  margin-left: 40px;
}

footer .footer-help .help-ways .help-server .lf li,
footer .footer-help .help-ways .help-server .center li {
  line-height: 30px;
  height: 30px;
}

footer .footer-help .help-ways .help-server .lf li a,
footer .footer-help .help-ways .help-server .center li a {
  font-size: 12px;
  color: #999;
}

footer .footer-help .help-ways .help-server .lf .help-title,
footer .footer-help .help-ways .help-server .center .help-title {
  font-size: 16px;
  color: #333333;
  font-weight: 500;
  height: 16px;
  line-height: 16px;
  margin-bottom: 18px;
}

footer .footer-help .help-ways .help-server .rt {
  float: right;
}

footer .footer-help .help-ways .help-server .rt li {
  height: 30px;
  line-height: 30px;
}

footer .footer-help .help-ways .help-server .rt li a {
  font-size: 12px;
  color: #999;
}

footer .footer-help .help-ways .help-server .rt .help-title {
  font-size: 16px;
  color: #333333;
  font-weight: 500;
  height: 16px;
  line-height: 16px;
  margin-bottom: 18px;
}

footer .footer-help .help-ways .help-team {
  float: left;
  padding-top: 4px;
  width: 186px;
  margin-left: 48px;
}

footer .footer-help .help-ways .help-team .top .lf li,
footer .footer-help .help-ways .help-team .top .rt li {
  height: 30px;
  line-height: 30px;
}

footer .footer-help .help-ways .help-team .top .lf li a,
footer .footer-help .help-ways .help-team .top .rt li a {
  font-size: 12px;
  color: #999;
}

footer .footer-help .help-ways .help-team .top .lf .help-title,
footer .footer-help .help-ways .help-team .top .rt .help-title {
  font-size: 16px;
  color: #333;
  font-weight: 500;
  height: 16px;
  line-height: 16px;
  margin-bottom: 18px;
}

footer .footer-help .help-ways .help-team .top .rt {
  float: right;
}

footer .footer-help .help-ways .help-team .top .lf {
  float: left;
}

footer .footer-help .help-ways .help-team .bottom {
  margin-top: 14px;
  padding-top: 14px;
  border-top: 1px solid #cccccc;
}

footer .footer-help .help-ways .help-team .bottom p {
  float: right;
  line-height: 30px;
}

footer .footer-help .help-ways .help-team .bottom p a {
  font-size: 16px;
  color: #333333;
  line-height: 30px;
  font-weight: 500;
}

footer .footer-help .help-ways .help-tel {
  width: 208px;
  float: left;
  height: 147px;
  border-left: 1px solid #cccccc;
  padding-top: 4px;
  margin-left: 62px;
}

footer .footer-help .help-ways .help-tel p {
  margin-left: 35px;
  padding-left: 33px;
  height: 20px;
  line-height: 20px;
}

footer .footer-help .help-ways .help-tel p a {
  cursor: pointer;
  color: #f12020;
}

footer .footer-help .help-ways .help-tel .airlines {
  margin-top: 6px;
  background: url("../img/Customer-service_12.png") no-repeat left center;
}

footer .footer-help .help-ways .help-tel .feedback {
  margin-top: 13px;
  background: url("../img/feedback_17.png") no-repeat left center;
}

footer .footer-help .help-ways .help-tel h1 {
  font-size: 20px;
  font-weight: 500;
  color: #333333;
  text-align: center;
  line-height: 22px;
  margin-bottom: 15px;
}

footer .footer-help .help-ways .help-tel h1:nth-of-type(1) {
  margin-top: 26px;
}

footer .footer-help .help-ways .help-code {
  float: right;
  padding: 4px 22px 0;
  height: 147px;
  width: 240px;
  border-left: 1px solid #cccccc;
}

footer .footer-help .help-ways .help-code div:nth-of-type(1) {
  float: left;
}

footer .footer-help .help-ways .help-code div:nth-of-type(2) {
  float: right;
}

footer .footer-help .help-ways .help-code div img {
  width: 108px;
  height: 108px;
  display: block;
}

footer .footer-help .help-ways .help-code div p {
  color: #333333;
  line-height: 32px;
  text-align: center;
}

footer .foot-statement {
  height: 224px;
  background-color: #333;
}

footer .foot-statement .foot-logo {
  height: 36px;
  vertical-align: middle;
  margin-bottom: 19px;
  margin-top: 20px;
}

footer .foot-statement .foot-logo img {
  display: block;
  width: 227px;
  height: 36px;
  margin: 0 auto;
}

footer .foot-statement .foot-txt p {
  text-align: center;
  line-height: 24px;
  font-size: 12px;
  color: #999999;
}

footer .foot-statement .foot-note {
  display: flex;
  margin-top: 24px;
  justify-content: space-around;
}

footer .foot-statement .foot-note p {
  height: 32px;
  line-height: 32px;
  vertical-align: middle;
  font-size: 12px;
  color: #999999;
}

footer .foot-statement .foot-note p img {
  margin-right: 10px;
  border: 0;
  vertical-align: middle;
}

footer .foot-statement .foot-note p .w20 {
  width: 20px;
  height: 20px;
}

.shoppingcar-nav {
  background-color: #fff;
  height: 78px;
  box-shadow: 0px 3px 3px 0px #e1e1e1;
  position: relative;
}

.shoppingcar-nav .logo {
  float: left;
  height: 78px;
}

.shoppingcar-nav .logo img {
  display: block;
  border: 0;
}

.shoppingcar-nav .car-header {
  margin-left: 257px;
  padding-top: 24px;
  overflow: hidden;
}

.shoppingcar-nav .car-header .car-step {
  float: right;
}

.shoppingcar-nav .car-header .car-step p {
  float: left;
  width: 130px;
  border-top: 4px solid #cccccc;
  margin: 14px 15px 0;
}

.shoppingcar-nav .car-header .car-step .car-step-num {
  float: left;
  line-height: 30px;
}

.shoppingcar-nav .car-header .car-step .car-step-num span {
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  margin-right: 8px;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #afafaf;
  background: url("../img/ok-icon04.png") no-repeat;
}

.shoppingcar-nav .car-header .car-step .car-cur-step {
  color: #4dbd62;
}

.shoppingcar-nav .car-header .car-step .car-cur-step span {
  background: url("../img/ok-icon03.png") no-repeat;
  color: #fff;
}

main {
  background-color: #f7f7f7;
  overflow: hidden;
}

main .cart_goods_info {
  margin-bottom: 43px;
  overflow: hidden;
}

main .cart_goods_info .car-top {
  padding-top: 5px;
  color: #333;
  line-height: 66px;
}

main .cart_goods_info .car-top .left {
  float: left;
}

main .cart_goods_info .car-top .left input {
  cursor: pointer;
  float: left;
  width: 14px;
  height: 14px;
  margin: 25px 18px 0 15px;
  background: url("../img/pro-sel-bac01.png") no-repeat;
  display: block;
}

main .cart_goods_info .car-top .left div {
  float: left;
  margin-left: 5px;
}

main .cart_goods_info .car-top .left div span {
  color: #f12020;
  margin: 0 4px;
}

main .cart_goods_info .car-top .right {
  float: right;
  padding-left: 15px;
  margin-right: 15px;
  background: url(../img/car-icon01.png) no-repeat left center;
}

main .cart_goods_info .car-item-ls .car-item-detail {
  background-color: #fff;
  margin-bottom: 10px;
  overflow: hidden;
}

main .cart_goods_info .car-item-ls .car-item-detail .car-checkbox {
  float: left;
  width: 14px;
  height: 14px;
  margin: 72px 0 0 16px;
  background: url("../img/pro-sel-bac01.png") no-repeat;
}

main .cart_goods_info .car-item-ls .car-item-detail .car-checkbox input {
  float: left;
  width: 14px;
  height: 14px;
  cursor: pointer;
}

main .cart_goods_info .car-item-ls .car-item-detail .car-detail-rt {
  margin-left: 50px;
  border-left: 1px solid #f7f7f7;
}

main .cart_goods_info .car-item-ls .car-item-detail .car-detail-rt .car-detail-top {
  height: 42px;
  border-bottom: 1px solid #f7f7f7;
  line-height: 42px;
  color: #666;
}

main .cart_goods_info .car-item-ls .car-item-detail .car-detail-rt .car-detail-top .like-del {
  float: right;
  margin-top: 8px;
}

main .cart_goods_info .car-item-ls .car-item-detail .car-detail-rt .car-detail-top .like-del a {
  display: block;
  float: left;
  width: 24px;
  height: 24px;
  margin: 0 22px 0 6px;
}

main .cart_goods_info .car-item-ls .car-item-detail .car-detail-rt .car-detail-top .like-del .like {
  background: url("../img/car-icon06.png") no-repeat;
}

main .cart_goods_info .car-item-ls .car-item-detail .car-detail-rt .car-detail-top .like-del .del {
  background: url("../img/car-icon07.png");
}

main .cart_goods_info .car-item-ls .car-item-detail .car-detail-rt .car-detail-sp {
  padding: 5px 0;
}

main .cart_goods_info .car-item-ls .car-item-detail .car-detail-rt .car-detail-sp .pic {
  display: block;
  float: left;
  width: 110px;
  height: 110px;
  margin-left: 10px;
}

main .cart_goods_info .car-item-ls .car-item-detail .car-detail-rt .car-detail-sp .pic img {
  display: block;
  width: 110px;
  height: 110px;
  border: 0;
}

main .cart_goods_info .car-item-ls .car-item-detail .car-detail-rt .car-detail-sp .car-detail-title {
  float: left;
  margin-left: 13px;
  width: 300px;
  height: 110px;
}

main .cart_goods_info .car-item-ls .car-item-detail .car-detail-rt .car-detail-sp .car-detail-title p {
  color: #333333;
  vertical-align: middle;
  display: table-cell;
  height: 110px;
}

main .cart_goods_info .car-item-ls .car-item-detail .car-detail-rt .car-detail-sp .car-detail-price {
  float: left;
  margin-left: 25px;
  width: 190px;
}

main .cart_goods_info .car-item-ls .car-item-detail .car-detail-rt .car-detail-sp .car-detail-price p {
  color: #000;
  height: 110px;
  line-height: 110px;
  text-align: center;
}

main .cart_goods_info .car-item-ls .car-item-detail .car-detail-rt .car-detail-sp .car-detail-price p span {
  color: #eb1a21;
  margin: 0 22px;
  font-size: 16px;
}

main .cart_goods_info .car-item-ls .car-item-detail .car-detail-rt .car-detail-sp .car-detail-qt {
  float: left;
  width: 225px;
  height: 35px;
  margin: 38px 0 0 30px;
  overflow: hidden;
}

main .cart_goods_info .car-item-ls .car-item-detail .car-detail-rt .car-detail-sp .car-detail-qt em {
  float: left;
  width: 50px;
  color: #000;
  line-height: 35px;
}

main .cart_goods_info .car-item-ls .car-item-detail .car-detail-rt .car-detail-sp .car-detail-qt .qt-form {
  float: left;
  border: 1px solid #cccccc;
  width: 173px;
  height: 33px;
}

main .cart_goods_info .car-item-ls .car-item-detail .car-detail-rt .car-detail-sp .car-detail-qt .qt-form a {
  display: blcok;
  width: 47px;
  height: 33px;
  line-height: 27px;
  color: #bbb;
  font-size: 28px;
  font-weight: 900;
  text-align: center;
}

main .cart_goods_info .car-item-ls .car-item-detail .car-detail-rt .car-detail-sp .car-detail-qt .qt-form .downbtn {
  float: left;
  background: url("../img/subtract-icon.jpg") no-repeat center;
}

main .cart_goods_info .car-item-ls .car-item-detail .car-detail-rt .car-detail-sp .car-detail-qt .qt-form .addbtn {
  float: right;
  background: url("../img/add-icon.png") no-repeat center;
}

main .cart_goods_info .car-item-ls .car-item-detail .car-detail-rt .car-detail-sp .car-detail-qt .qt-form input {
  float: left;
  padding: 0 1px;
  display: block;
  width: 75px;
  height: 33px;
  line-height: 33px;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  color: #000;
  font-size: 16px;
  text-align: center;
}

main .cart_goods_info .car-item-ls .car-item-detail .car-detail-rt .car-detail-sp .car-item-sta {
  float: right;
  width: 270px;
  color: black;
  line-height: 112px;
  text-align: center;
}

main .car-sum-price {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #313131;
  box-shadow: 0px 0px 3px 0px #fff;
  border-top: 2px solid #fff;
}

main .car-sum-price .sum-left {
  float: left;
}

main .car-sum-price .sum-left .sum-pro-count {
  float: left;
  margin-left: 5px;
  color: #fff;
  line-height: 100px;
}

main .car-sum-price .sum-left .sum-pro-count span {
  font-size: 22px;
  color: #f12020;
  margin: 0 16px;
}

main .car-sum-price .sum-left i {
  display: block;
  float: left;
  margin: 42px 27px 0 47px;
  border-left: 2px solid #acacac;
  height: 16px;
}

main .car-sum-price .sum-left .youhui {
  float: left;
  color: #fff;
  line-height: 100px;
}

main .car-sum-price .sum-left .zp {
  text-decoration: underline;
  cursor: pointer;
  float: left;
  color: #fff;
  line-height: 100px;
}

main .car-sum-price .sum-right {
  float: right;
}

main .car-sum-price .sum-right p {
  float: left;
  color: #fff;
  line-height: 100px;
}

main .car-sum-price .sum-right p span {
  font-size: 16px;
  color: #f12020;
  margin: 0 17px;
}

main .car-sum-price .sum-right input {
  display: block;
  float: left;
  margin: 30px 14px 0 66px;
  width: 200px;
  height: 40px;
  line-height: 40px;
  background-color: #f12020;
  color: #fff;
  cursor: pointer;
}
